In [62]:
import pandas as pd
import glob
import win32com.client
import time

In [63]:
df = pd.DataFrame()
for file in glob.glob('./data/*.csv'):
    df = pd.concat([df, pd.read_csv(file)])

df.head()

   Unnamed: 0 Grade  Year Category  Number Tested
0           0     3  2006    Asian           9768
1           1     4  2006    Asian           9973
2           2     5  2006    Asian           9852
3           3     6  2006    Asian           9606
4           4     7  2006    Asian           9433

In [64]:
del df['Unnamed: 0']

df = df.rename(columns={
    'Grade': 'grade',
    'Year': 'year',
    'Category': 'category',
    'Number Tested': 'count'
})

df.head()

  grade  year category  count
0     3  2006    Asian   9768
1     4  2006    Asian   9973
2     5  2006    Asian   9852
3     6  2006    Asian   9606
4     7  2006    Asian   9433

In [65]:
df.grade.unique()

array(['3', '4', '5', '6', '7', '8', 'All Grades'], dtype=object)

In [66]:
df = df[df.grade != 'All Grades']

In [67]:
df.grade.unique()

array(['3', '4', '5', '6', '7', '8'], dtype=object)

In [68]:
pd.DataFrame(df.groupby('year')['count'].sum()).reset_index().to_csv('./output/01.csv', index=False)

In [69]:
pd.DataFrame(df.groupby(['year', 'category'])['count'].sum()).reset_index().to_csv('./output/02.csv', index=False)

In [70]:
pd.DataFrame(df.groupby(['grade', 'category'])['count'].sum()).reset_index().to_csv('./output/03.csv', index=False)

In [71]:
office = win32com.client.Dispatch('Excel.Application')
office.Visible = 1

wb = office.Workbooks.Open('C:\\Users\\A-Scripts\\Desktop\\Report_automation\\main.xlsx')

wb.RefreshAll()
time.sleep(10)

wb.RefreshAll()
time.sleep(10)

count = wb.Sheets.Count
for i in range(count):
    ws = wb.Worksheets[i]
    
    try:
        pivotCount = ws.PivotTables().Count
        for j in range(1, pivotCount + 1):
            ws.PivotTables(j).PivotCache.Refresh()
    except:
        print(i)
        
        
        
        
wb.Save()
office.Quit()

1
3
5